#login{
    width: fit-content;
    height: 100vh;
    margin: auto;
    display: table;
}

#login .contentForm{
    display: table-cell;
    vertical-align: middle;
}

#login .contentForm h1{
    text-align: center;
    margin-bottom: 30px;
}

#login .contentForm .form{
    background-color: #757575;
    padding: 30px 50px;
}

#login .contentForm .form .inputForm{
    width: 350px;
    margin-bottom: 15px;
}

#login .contentForm .form .inputForm label, #login .contentForm .form .inputForm input{
    display: block;
    width: calc(100% - 23px);
}

#login .contentForm .form .inputForm label{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

#login .contentForm .form .inputForm input{
    padding: 5px 10px;
    font-size: 15px;
}

#login .contentForm .form button{
    width: 100%;
    margin-top: 5px;
    padding: 10px 15px;
    border: 0;
    background-color: #222;
    color: #ffffff;
    cursor: pointer;
}

#login .contentForm .form button:hover{
    background-color: #333;
}